body {
    text-align: center;
    font-family: Arial;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 6px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 60px;
    height: 60px;
    background: #eee;
    border-radius: 8px;
    cursor: pointer;
}

.cell:hover {
    background: gold;
}